# KaTeX snippets used here: https://minimo.netlify.com/docs/katex-support/

snippet kti "KaTeX Inline"
{{< katex inline >}} ${1:${VISUAL}} {{< /katex >}}$0
endsnippet

snippet ktn "KaTeX new line"
{{< katex >}} ${1:${VISUAL}} {{< /katex >}}$0
endsnippet
